<div class='row content'>
  <div class='large-8 columns'>
    <h3>Welcome!</h3>
    <p>Eta Kappa Nu, the international honor society for electrical and computer engineers, is home to some of the best and brightest students in the field.</p>
    <p>Rensselaer Polytechnic Institute's Beta Nu chapter of Eta Kappa Nu is among over 200 other chapters across the United States, Europe, and Asia.</p>
    <p><a href='#about'>>> More</a></p>
    <p><a href='#res'>>> Resume Book</a></p>
  </div>
  <div class='large-4 columns'>
    <img src="./img/hknseal.png"/>
  </div>
</div>