<div class='row content'>
  <div class='large-7 columns'>
    <a class='blue' href="#officers">Officers</a> | <a class='blue' href="#members">Members</a>
    <h3>{{page}}</h3>
    <p>Membership in HKN is by invitation only. Eligible students are drawn from the top 1/4 of juniors and the top 1/3 of seniors in the <a href="http://www.ecse.rpi.edu">ECSE Department</a>. Membership is for life.</p>
    <p>The benefits of membership in HKN are many and include recognition of exceptional academic achievement, opportunities to develop organizational and leadership skills, and access to an industry-wide network of HKN members and those who recognize membership as a mark of accomplishment.</p>
    <p>For more information, feel free to contact any of the <a href="http://www.ecse.rpi.edu/hkn/membership/officers.html">Officers</a> or visit the <a href="http://www.hkn.org">website</a> of the HKN Headquarters, where you can find <a href="http://www.hkn.org/join/testimonials.html">video testimonials</a> from RPI's own <a href="http://hibp.ecse.rpi.edu/~connor/ken_connor.html">Ken Connor</a> and others.</p>
  </div>
  <div class='large-5 columns'>
    <img src="img/S2014class2.jpg"/>
  </div>
</div>