<div class='row content'>
  <div class='large-7 columns'>
    <a class='blue' href="#membership">Membership</a>
    <h1>General Body Membership</h1>
    <h2>Eta Kappa Nu, Beta Nu Chapter</h2></center>
    <table width="98%" cellpadding="0" cellspacing="6">
    <tr valign=top>
      <td >
        <h3>Spring 2014</h3>
        <ul>
          <li>Sophia Marie D'Antoine</li>
          <li>Yuriy Oleh Slabicky</li>
          <li>Brendan Sawyer Carl</li>
          <li>Satoshi Matsuura</li>
          <li>Russel Lansing Jones</li>
          <li>Cyril George</li>
          <li>Joseph Kyle Mootz</li>
          <li>John Richard Eaton</li>
          <li>Tyler Robert Quon</li>
          <li>Nail Hanov</li>
        </ul>
        <h3>Fall 2013</h3>
        <ul>
          <li>Julius  Alexander</li>
          <li>Stephen Anderson</li>
          <li>Jacob Braun</li>
          <li>Matthew Corsaro</li>
          <li>Shuang  Feng</li>
          <li>Gregory Grebe</li>
          <li>Matthew Holmes</li>
          <li>Raymond Jacobson</li>
          <li>Peter Kang</li>
          <li>Prerna  Luthera</li>
          <li>Dong  Ma</li>
          <li>Robert  Mahieu</li>
          <li>Arya  Seghatoleslami</li>
          <li>Utkarsh Sinha</li>
          <li>Andre Sotolongo</li>
          <li>Austin  Trindade</li>
        </ul>
        <h3>Spring 2013</h3>
        <ul>
          <li>Christopher R. Carr</li>
          <li>Kaitlyn Anne Taboada</li>
          <li>Kaitai Li</li>
          <li>Eric Nikolay Kuzmenko</li>
          <li>William James Bonagura</li>
          <li>Robin Ji</li>
          <li>John Thomas Spangernberger</li>
          <li>Steven Michael Cropp</li>
          <li>Stephen M. Perkins</li>
          <li>Andrew Michael Lynch</li>
          <li>Robert Argo</li>
          <li>Jacom Sames Erickson</li>
          <li>Janet Liang Xu</li>
          <li>Ziyun Xiao</li>
          <li>Zacharie Cole Dugas</li>
          <li>MeiXing Dong</li>

        </ul>
        <h3>Fall 2012</h3>
        <ul>
          <li>Varun Behl</li>
          <li>Jay Cady</li>
          <li>Jeffrey Chellis</li>
          <li>Andrew Cunningham</li>
          <li>Nicholas Didycz</li>
          <li>Jennifer Van Haren</li>
          <li>Calvin Leung Huang</li>
          <li>Joshua Klimaszewski</li>
          <li>Benjamin Lane</li>
          <li>Kelsie Larson</li>
          <li>Young Liu</li>
          <li>Blake Powell</li>
          <li>Matthew Saffee</li>
          <li>Chenguang Wen</li>
          <li>Sarah Williams</li>
          <li>Kyle Wood</li>
          <li>Nan Zhao</li>

        </ul>

        <h3>Spring 2012</h3>
        <ul>
          <li>Sean Chase</li>
          <li>Syed Hossain</li>
          <li>Christopher Knobloch</li>
          <li>Matthew Kosman</li>
          <li>Matthew Kuranda</li>
          <li>Raj Pandya</li>
          <li>Matthew Reome</li>
          <li>Melissa White</li>
        </ul>

        <h3>Fall 2011</h3>
        <ul>
          <li>Benjamin Batista</li>
          <li>Alex Haig</li>
          <li>Christopher Hunter Breedlove Hladik</li>
          <li>Rebecca Nordhauser</li>
          <li>Paul Orecchio</li>
          <li>Charles VanBenschaten</li>
          <li>Michael Watterson</li>
          <li>Timothy Wronka</li>

        </ul>



        <h3>Spring 2011</h3>
        <ul>
          <li>Chandler Angell</li>
          <li>Michael Chiaravalle</li>
          <li>Jonathan Choi</li>
          <li>Bryan Clifford</li>
          <li>Nick Iaconis</li>
          <li>Christian Johnson</li>
          <li>Yishu Liu</li>
          <li>Alex Maskevich</li>
          <li>Sairina Mirchandani</li>
          <li>Partha Panwala</li>
          <li>Jeffery Pawlick</li>
          <li>John Rell III</li>
          <li>Jeffery Rodowicz</li>
          <li>Mark Salvaggio</li>
          <li>Greg Silva</li>
          <li>Ben Xiao</li>
          <li>Eric Yanulis</li>
        </ul>
        
        <h3>Fall 2010</h3>
        <ul>
          <li>Nicholas Costa</li>
          <li>Jeffrey Danis</li>
          <li>Kenny Du</li>
          <li>Christopher Hall</li>
          <li>Michael Horowitz</li>
          <li>Laura Kocubinski</li>
          <li>Jeffrey Mead</li>
          <li>Joseph Salomone</li>
          <li>Julia Sanda</li>
        </ul>

        <h3>Spring 2010</h3>
        <ul>
          <li>Ashley Ansell</li>
          <li>Marcus Brown</li>
          <li>Michael Cunningham</li>
          <li>Joe Glennon</li>
          <li>James Kukucka</li>
          <li>Alyssa Kenny</li>
          <li>Joseph Lyons</li>
          <li>Matt MacDonald</li>
          <li>Alex Nolet</li>
          <li>Gregory Pitner</li>
          <li>Yuangjiao (Rita) Shen</li>
          <li>Nathaniel Thomas</li>
        </ul>

        <h3>Fall 2009</h3>
        <ul>
          <li>Gavin Anaya</li>
          <li>Cihan Caglayan</li>
          <li>Brian Calderon</li>
          <li>Glenn Duffy</li>
          <li>Christopher Farrah</li>
          <li>Brendon Justin</li>
          <li>Sean Kelley</li>
          <li>Dawei Li</li>
          <li>Kristen Lagotti</li>
          <li>Joe Murphy</li>
        </ul>

        <h3>Spring 2009</h3>
        <ul>
          <li>Branden Buckner</li>
          <li>Henrique Figueiras</li>
          <li>David Hahn</li>
          <li>Andrew Hoyt</li>
          <li>Jonathan Jesuraj</li>
          <li>Timothy Kramer</li>
          <li>Allen Lavoie</li>
          <li>Stephanie Livsey</li>
          <li>Erik Lustgarten</li>
          <li>William Maio</li>
          <li>Mary McAfoose</li>
          <li>Matthew Murphy</li>
          <li>Audrey Newcomb</li>
          <li>Kelsey Saulnier</li>
        </ul>

        <h3>Fall 2008</h3>
        <ul>
          <li>Matt Dawkins</li>
          <li>Alex Dirdo</li>
          <li>Joe Even</li>
          <li>Maxx Garrison</li>
          <li>Tim Herrmann</li>
          <li>Adam Jankauskas</li>
          <li>Mitchell LeRoy</li>
          <li>Lack Lombardi</li>
          <li>Robert Margolies</li>
          <li>Patrick McKenna</li>
          <li>Mike Sanderson</li>
          <li>Mark White</li>
        </ul>
      </td>
      
      <td>  

        <h3>Spring 2008</h3>
        <ul>
          <li>Daniel Beaty</li>
          <li>Andrew Calcutt</li>
          <li>Ryan Clarke</li>
          <li>Patrick Cloke</li>
          <li>Joseph Crispino</li>
          <li>Michael DiTore</li>
          <li>Joseph Internicola</li>
          <li>Christopher Jordan</li>
          <li>Rishi Kant</li>
          <li>Zachary Kaye</li>
          <li>Michael Kuhlman</li>
          <li>Jonathan Lenz</li>
          <li>Thomas Marron</li>
          <li>Craig Poulin</li>
          <li>James Streitman</li>
          <li>Jonathan Todzia</li>
          <li>Scott Tritten</li>
          <li>Joseph Werther</li>
          <li>Brian Zaik</li>
        </ul>
    
        <h3>Fall 2007</h3>
        <ul>
          <li>Brian Allen</li>
          <li>Timothy Bergan</li>
          <li>Mark Dufrane</li>
          <li>Alexander Franz</li>
          <li>Tian Gao</li>
          <li>Samuel Gilbert</li>
          <li>Anthony Guidarelli</li>
          <li>Andrew Klappert</li>
          <li>Andrew Nunes</li>
          <li>Robert Odell</li>
          <li>Michael O'Shea</li>
          <li>Andrew Pakalnietis</li>
          <li>Brian Rautio</li>
          <li>Thomas Reithinger</li>
          <li>Andrew Shouse</li>
          <li>George Sweeny</li>
          <li>Joseph Totino</li>
          <li>Carl Trant</li>
          <li>Matthew Unright</li>
          <li>Anton Vorsteveld</li>
          <li>Christopher Weyers</li>
          <li>Kyle Wonderly</li>
          <li>Franklin Wong</li>
        </ul>

        <h3>Spring 2007</h3>
        <ul>
          <li>Robert Augelli</li>
          <li>Robert Bloor</li>
          <li>Jonathan Casey</li>
          <li>Robert Cooper</li>
          <li>Dan DelaRosa</li>
          <li>Stephen Dicato Jr.</li>
          <li>Christopher Donais</li>
          <li>Mark Finegan</li>
          <li>Timothy G.</li>
          <li>Brandt G.</li>
          <li>Blake Hargis</li>
          <li>Kyle Hauptfleisch</li>
          <li>Sakvaknoy Khory</li>
          <li>Michael Li</li>
          <li>David Meyard</li>
          <li>Robert P.</li>
          <li>Viet Pham</li>
          <li>Aleksandr Shamis</li>
          <li>Michele Viani</li>
          <li>Yu Wang</li>
          <li>Andrew Winn</li>
          <li>Bryan Winrow</li>
          <li>Chong Wu</li>
          <li>Jonathan Wu</li>
        </ul>

        <h3>Fall 2006</h3>
        <ul>
          <li>Jason Burwick</li>
          <li>Janet Chan</li>
          <li>Ben Chong</li>
          <li>Benjamin Consolati</li>
          <li>Nicholas Glasser</li>
          <li>Justin Law</li>
          <li>Carlos Lazo</li>
          <li>Gregg Lehman</li>
          <li>Manoj Mathew</li>
          <li>Matthew Pasquin</li>
          <li>Rory Quinn</li>
          <li>William Schmarder</li>
        </ul>

        
        <h3>Spring 2006</h3>
        <ul>
          <li>Syed Reza Ali</li>
          <li>Geoffrey Basore</li>
          <li>Aleksandr Biberman</li>
          <li>Ryan Campbell</li>
          <li>Jing Cheng</li>
          <li>Paul D.</li>
          <li>Robert Denz</li>
          <li>Ryan Desmond</li>
          <li>David Dillon</li>
          <li>Joseph Doran</li>
          <li>Karen Downum</li>
          <li>Ryan Hawthorne</li>
          <li>Yusef Iqbal</li>
          <li>Joshua J.</li>
          <li>Muhammed K.</li>
          <li>Matthew Mangiou</li>
          <li>Elizabeth McEregor</li>
          <li>Marian M.</li>
          <li>Aizuddin Sopian</li>
          <li>Patrick Nakagawa</li>
          <li>Alejandro Naranjo</li>
          <li>Joon Park</li>
          <li>Charles Piazza</li>
          <li>Garry Russinko</li>
          <li>Daniel Schwarting</li>
          <li>Ray Smith</li>
          <li>Alan Trojan</li>
          <li>Wilson Tsao</li>
          <li>Gregory Wesr</li>
          <li>Darren Wojtowecz</li>
        </ul>
      </td>
      
      <td>
        <h3>Fall 2005</h3>
        <ul>
          <li>Jacob Ling</li>
          <li>Jonathan Ashdown</li>
          <li>Timothy Baran</li>
          <li>Laura Marie Beyer</li>
          <li>Ryan Cabral</li>
          <li>Ronald Cardoso</li>
          <li>Kumar Deep</li>
          <li>Ryan Delaney</li>
          <li>Joel Dever</li>
          <li>David Doria</li>
          <li>Adaka Ejeal</li>
          <li>G Matthew Ezovski</li>
          <li>Carlos Flores</li>
          <li>Samuel Freed</li>
          <li>Anthony M. Giacomoni</li>
          <li>Alex Glib</li>
          <li>Zachary Glickstein</li>
          <li>Ivan Hall III</li>
          <li>Carl Hartford</li>
          <li>Stacy M. Johnson</li>
          <li>Aminul Khan</li>
          <li>Jialiang Kong</li>
          <li>John Kua</li>
          <li>Andrew Lang</li>
          <li>Ezra Leng</li>
          <li>Matt McPugid</li>
          <li>Ian McVey</li>
          <li>David Meyer</li>
          <li>James Mullin</li>
          <li>Ian Pedowitz</li>
          <li>Cecil Quartey</li>
          <li>William Raible</li>
          <li>Jason Su</li>
          <li>John S.</li>
          <li>Jason Tamilens</li>
          <li>Justin Ruyi Wang</li>
          <li>Samuel Weinberg</li>
          <li>Can Wong</li>
          <li>Legi Zhang</li>
        </ul>
        
        <h3>Spring 2005</h3>
        <ul>
          <li>David Brigada</li>
          <li>Laura Derby</li>
          <li>Scoh Fermeglia</li>
          <li>Ajay Garg</li>
          <li>David Jiang</li>
          <li>Tristan Lawry</li>
          <li>William Lee</li>
          <li>Paul Lenhardt</li>
          <li>Magnus Mortensen</li>
          <li>Matthew Pennybacker</li>
          <li>Brooks Prumo</li>
          <li>Rajeev Roy</li>
          <li>Andrew Siegman</li>
          <li>Mark S.</li>
          <li>Cynthia Tang</li>
          <li>Edward To</li>
          <li>John Wason</li>
          <li>David White</li>
          <li>Chris Wicker</li>
          <li>Chang Yo</li>
        </ul>

        <h3>Fall 2004</h3>
        <ul>
          <li>Andrew Acer</li>
          <li>Nathaniel Austin</li>
          <li>Joseph B.</li>
          <li>Matthew Carlen</li>
          <li>Daniel Deng</li>
          <li>Eric Friedrich</li>
          <li>Joseph Hamburg</li>
          <li>Aaron hatch</li>
          <li>William Jackson</li>
          <li>Peter Jones</li>
          <li>Jeffrey Ladabouche</li>
          <li>Kevin Lai</li>
          <li>Laj La</li>
          <li>Keith Mislin</li>
          <li>Mohamed Nizal</li>
          <li>Nur Hisyam Mohamed</li>
          <li>Douglas Notaro</li>
          <li>Gregory Notaro</li>
          <li>Jonathan Nunez</li>
          <li>Andrew Schmitt</li>
          <li>Michael Senchyshyn</li>
          <li>Himani Suhag</li>
          <li>Justin Teixeira</li>
          <li>Andrew Tribbetts</li>
          <li>K.  Wasilewsri</li>
          <li>Daniel Werner</li>
          <li>Kevin Whitham</li>
          <li>Jiajun Yue</li>
          <li>Paul Zarzkiewicz</li>
        </ul>
      </td>
    </tr>
    </table>      
  </div>
</div>