<div class='row content'>
  <div class='large-7 columns'>
    <a class='blue' href="#membership">Membership</a>
    <h3>Officers</h3>
    <h1 align="center">2014 Officers</h1>

<table border="0" cellpadding="6" cellspacing="0">
  <tbody><tr> 
    <td></td>
    <td><p align="left"><strong><u>President</u></strong><br>
        <a href="mailto:dongm@rpi.edu">Meixing Dong</a> <br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Vice President</strong></u><br>

   <a href="mailto:jir2@rpi.edu">Robin Ji</a> <br>
  </p></td></tr>
  
  <tr>   
    <td></td>
    <td> <p align="left"><strong><u>Treasurer</u></strong><br>
       <a href="mailto:sontola@rpi.edu">Andre Sontolongo</a> <br>
        </p></td>

    <td></td>
    <td><p align="left"><u><strong>Corresponding Secretary</strong></u><br>
   <a href="mailto:jacobr2@rpi.edu">Raymond Jacobson</a> <br>
  </p></td></tr>
  <tr> 
  <td></td> 
    <td><div align="left"><u><strong>Recording Secretary</strong></u><br>
        <a href="mailto:dugasz@rpi.edu">Zach Dugas</a> <br>

        </div></td>
    <td></td>
    <td><div align="left"><u><strong>Webmaster</strong></u><br>
        <a href="mailto:jacobr2@rpi.edu">Raymond Jacobson</a> <br>
  </div></td></tr>
</tbody></table>
    <h1 align="center">2013 Officers</h1>

<table border="0" cellpadding="6" cellspacing="0">
  <tbody><tr> 
    <td></td>
    <td><p align="left"><strong><u>President</u></strong><br>
        Benjamin Bapista<br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Vice President</strong></u><br>

  Benjamin Batista<br>
  </p></td></tr>
  
  <tr>   
    <td></td>
    <td> <p align="left"><strong><u>Treasurer</u></strong><br>
      Kelsey Saulnier<br>
        </p></td>

    <td></td>
    <td><p align="left"><u><strong>Corresponding Secretary</strong></u><br>
   Sairina Mirchandani<br>
  </p></td></tr>
  <tr> 
  <td></td> 
    <td><div align="left"><u><strong>Recording Secretary</strong></u><br>
        Daniel Felizardo<br>

        </div></td>
    <td></td>
    <td><div align="left"><u><strong>Webmaster</strong></u><br>
       Daniel Felizardo<br>
  </div></td></tr>
</tbody></table>
  
<h1 align="center">2012 Officers</h1>

<table border="0" cellpadding="6" cellspacing="0">
  <tbody><tr> 
    <td></td>
    <td><p align="left"><strong><u>President</u></strong><br>
       Marcus Browne<br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Vice President</strong></u><br>

   Benjamin Batista<br>
  </p></td></tr>
  
  <tr>   
    <td></td>
    <td> <p align="left"><strong><u>Treasurer</u></strong><br>
      Kelsey Saulnier<br>
        </p></td>

    <td></td>
    <td><p align="left"><u><strong>Corresponding Secretary</strong></u><br>
   Sairina Mirchandani<br>
  </p></td></tr>
  <tr> 
  <td></td> 
    <td><div align="left"><u><strong>Recording Secretary</strong></u><br>
        Daniel Felizardo<br>

        </div></td>
    <td></td>
    <td><div align="left"><u><strong>Webmaster</strong></u><br>
        Michael Watterson<br>
  </div></td></tr>
</tbody></table>
  
<h1 align="center">2011 Officers</h1>

<table border="0" cellpadding="6" cellspacing="0">
  <tbody><tr> 
    <td></td>
    <td><p align="left"><strong><u>President</u></strong><br>
        Branden Buckner <br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Vice President</strong></u><br>

   Jeff Danis <br>
  </p></td></tr>
  
  <tr>   
    <td></td>
    <td> <p align="left"><strong><u>Treasurer</u></strong><br>
       Ashley Ansell <br>
        </p></td>

    <td></td>
    <td><p align="left"><u><strong>Corresponding Secretary</strong></u><br>
   Mike Horowitz <br>
  </p></td></tr>
  <tr> 
  <td></td> 
    <td><div align="left"><u><strong>Recording Secretary</strong></u><br>
        Alyssa Kenny <br>

        </div></td>
    <td></td>
    <td><div align="left"><u><strong>Webmaster</strong></u><br>
        Matthew MacDonald <br>
  </div></td></tr>
</tbody></table>
  
<h1 align="center">2010 Officers</h1>

<table border="0" cellpadding="6" cellspacing="0">
  <tr> 
    <td></td>
    <td><p align="left"><strong><u>President</u></strong><br>
        Timothy Kramer <br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Vice President</strong></u><br>
   Branden Buckner <br>
  </tr>
  
  <tr>   
    <td></td>
    <td> <p align="left"><strong><u>Treasurer</u></strong><br>
       Brendon Justin <br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Corresponding Secretary</strong></u><br>
   Audrey Newcomb <br>
  </tr>
  <tr> 
  <td></td> 
    <td><div align="left"><u><b>Recording Secretary</b></u><br>
        Jake Buckley <br>
        </div></td>
    <td></td>
    <td><div align="left"><u><b>Webmaster</b></u><br>
        David Hahn <br>
  </tr>
</table></center>

<h1 align="center">2009 Officers</h1>

<table border="0" cellpadding="6" cellspacing="0">
  <tr> 
    <td></td>
    <td><p align="left"><strong><u>President</u></strong><br>
        Kyle Wonderly <br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Vice President</strong></u><br>
   Patrick McKenna <br>
  </tr>
  
  <tr>   
    <td></td>
    <td> <p align="left"><strong><u>Treasurer</u></strong><br>
       Matt Dawkins <br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Corresponding Secretary</strong></u><br>
   Adam Jankauskas <br>
  </tr>
  <tr> 
  <td></td> 
    <td><div align="left"><u><b>Recording Secretary</b></u><br>
        Zachary Kaye <br>
        </div></td>
    <td></td>
    <td><div align="left"><u><b>Webmaster</b></u><br>
        Blake Hargis <br>
  </tr>
</table></center>

<h1 align="center">2008 Officers</h1>

<table border="0" cellpadding="6" cellspacing="0">
  <tr> 
    <td></td>
    <td><p align="left"><strong><u>President</u></strong><br>
        Blake Hargis <br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Vice President</strong></u><br>
   Brian Allen <br>
  </tr>
  
  <tr>   
    <td></td>
    <td> <p align="left"><strong><u>Treasurer</u></strong><br>
       Carl Trant <br>
        </p></td>
    <td></td>
    <td><p align="left"><u><strong>Corresponding Secretary</strong></u><br>
   Tim Bergan <br>
  </tr>
  <tr> 
  <td></td> 
    <td><div align="left"><u><b>Recording Secretary</b></u><br>
        Michele Viani <br>
        </div></td>
    <td></td>
    <td><div align="left"><u><b>Webmaster</b></u><br>
        Kyle Wonderly <br>
  </tr>
</table></center>


  </div>
</div>